<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-medium text-slate-100">{{ student.user.username }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-slate-400">CF: {{ student.handle_codeforces|default:"-" }}</div>
        <div class="text-sm text-slate-400">AC: {{ student.handle_atcoder|default:"-" }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <a href="{% url 'user_profile' student.user.username %}" class="text-indigo-400 hover:text-indigo-300">Ver Detalhes</a>
    </td>
</tr>
